{% extends 'master.html' %}
{% block content %}
    <div class="header">
        <div class="container">
            <h2>Python 阶段1 第1天教案</h2>
        </div>
    </div>
    <div class="container">
        <dl>
            <dt>标志性内容</dt>
            <dd>python3.6</dd>
            <dt>内容概要</dt>
            <dd>简介,环境安装</dd>
            <dt>准备工作</dt>
            <dd>

                        <ol>

                                <li>安装包准备</li>
                                <li>电脑准备</li>

                        </ol>



            </dd>
            <dt>讲课流程</dt>
            <dd>

                    &lt;无&gt;

            </dd>
            <dt>注意要点</dt>
            <dd>

                    &lt;无&gt;

            </dd>
            <dt>作业</dt>
            <dd>

                    &lt;无&gt;

            </dd>
            <dt>学生分享</dt>
            <dd>

                    &lt;无&gt;

            </dd>
            <dt>管理事项</dt>
            <dd>

                    &lt;无&gt;

            </dd>
            <dt>备注</dt>
            <dd>&lt;无&gt;</dd>
        </dl>
        <hr>

    </div>
{% endblock %}

