{% extends 'master.html' %}
{% block content %}
    <div class="container zy-list">
        <h2 class="text-center">Python 阶段 1 二级大纲</h2>
        <p class="text-center">Python基础（20 天）</p>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    第1天&nbsp;&nbsp;Python语法
                    <span class="pull-right">
                        <a class="glyphicon glyphicon-edit" href="edit.html" title="修改二级大纲/教案"></a>&nbsp;
                        <a class="glyphicon glyphicon-remove-circle" href="" title="删除二级大纲/"></a>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <a href="detail.html">开班,简介,安装环境,基础语法</a>
            </div>
            <div class="panel-footer">Python基础语法</div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    第2天&nbsp;&nbsp;Python中的逻辑符
                    <span class="pull-right">
                        <a class="glyphicon glyphicon-edit" href="edit.html" title="修改二级大纲/教案"></a>&nbsp;
                        <a class="glyphicon glyphicon-remove-circle" href="" title="删除二级大纲/"></a>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <a href="detail.html">for循环,if判断</a>
            </div>
            <div class="panel-footer">Python基础语法</div>
        </div>


        <div class="tools text-center">
            <a class="glyphicon glyphicon-plus-sign" href="add.html" title="添加二级大纲/教案"></a>
        </div>
    </div>

    <script>

    </script>
{% endblock %}



