{% extends 'master.html' %}
{% block content %}
    <div class="header">
        <div class="container">
            <h2>阶段详情</h2>
        </div>
    </div>
    <div class="container">
        <dl>
            <dt>阶段标题</dt>
            <dd>Python基础</dd>
            <dt>学时</dt>
            <dd>20天</dd>
            <dt>项目</dt>
            <dd>学员管理系统</dd>
            <dt>教学方法</dt>
            <dd>教教教</dd>
            <dt>学习方法</dt>
            <dd>学学学,敲敲敲</dd>
            <dt>学生分享</dt>
            <dd>分享技术,共同进步</dd>
            <dt>备注</dt>
            <dd>好好学习,天天向上</dd>
        </dl>
        <hr>

    </div>
{% endblock %}

