{% extends 'master.html' %}
{% block content %}
    <div class="header">
        <div class="container">
            <h2>一级大纲详情</h2>
        </div>
    </div>
    <div class="container">
        <dl>
            <dt>序号</dt>
            <dd>1</dd>
            <dt>标题</dt>
            <dd>Python基础语法</dd>
            <dt>学时</dt>
            <dd>3天</dd>
            <dt>高级内容</dt>
            <dd>

                    环境安装 <br>
                    编辑器,基础语法 <br>
                    print()函数

            </dd>
            <dt>备注</dt>
            <dd>&lt;无&gt;</dd>
        </dl>
        <hr>

    </div>
{% endblock %}

