{% extends 'master.html' %}
{% block content %}
    <div class="header">
        <div class="container">
            <h2>修改一级大纲</h2>
        </div>
    </div>
    <div class="container">
        <form class="form-horizontal" action="" method="post">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">标题：</label>
                <div class="col-sm-3">
                    <input type="text" name="title" id="title" value="" class="form-control"
                           placeholder="请填写阶段标题" required>
                </div>
            </div>
            <div class="form-group">
                <label for="advancing" class="col-sm-2 control-label">拔高内容：</label>
                <div class="col-sm-7">
                    <textarea class="form-control" id="advancing" name="advancing" rows="3"
                                  placeholder="请填写拔高内容"></textarea>
                    <span class="help-block">多条拔高内容以中文全角，分隔</span>
                </div>
            </div>
            <div class="form-group">
                <label for="days" class="col-sm-2 control-label">学时：</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input type="text" name="days" id="days" value="" class="form-control"
                               placeholder="请填写学时" required>
                        <span class="input-group-addon">天</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="number" class="col-sm-2 control-label">排序：</label>
                <div class="col-sm-2">
                    <input type="text" name="number" id="number" value="" class="form-control"
                           placeholder="请填写排序数字" required>
                </div>
            </div>
            <div class="form-group">
                <label for="remark" class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-7">
                        <textarea class="form-control" id="remark" name="remark" rows="6"
                                  placeholder="请填写备注"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="visible-md visible-sm visible-lg col-sm-2 control-label"></label>
                <div class="col-sm-2">
                    <input type="hidden" name="id" value="1">
                    <input type="hidden" name="stage_id" value="1">
                    <input type="submit" class="btn btn-primary btn-block" value="提交">
                </div>
            </div>
        </form>
    </div>
{% endblock %}

