{% extends 'master.html' %}
{% block content %}
    <div class="header">
        <div class="container">
            <h2>{{ subject.name }} - 添加阶段信息</h2>
        </div>
    </div>
    <div class="container">
        <form class="form-horizontal" action="{% url 'subject_add' %}" method="post">
            {% csrf_token %}
            {# 对于form标签来说，他所提交的数据就是formdata，和JS中的类FormData()表示的含义是一样的。数据格式、数据类型、数据传递这些都是相同的。只要提交<form>表单请求，那么浏览器会将form标签中所有的input标签的value值作为参数提交。不管这个input标签是隐藏的还是非隐藏的。   #}
            <input type="hidden" name="subject_id" value="{{ subject.id }}">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">名称：</label>
                <div class="col-sm-3">
                    <input type="text" name="name" id="name" value="{{ subject.name }}" class="form-control"
                           placeholder="请填写学科名称" required>
                </div>
                <p>{{ error.code }}</p>
            </div>
            <div class="form-group">
                <label for="amount" class="col-sm-2 control-label">学费：</label>
                <div class="col-sm-2">
                    <input type="number" name="amount" id="amount" value="{{ subject.amount }}" class="form-control"
                           placeholder="请填写学费" required>
                </div>
            </div>
            <div class="form-group">
                <label for="days" class="col-sm-2 control-label">学时：</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input type="text" name="days" id="days" value="{{ subject.days }}" class="form-control"
                               placeholder="请填写学时" required>
                        <span class="input-group-addon">天</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="number" class="col-sm-2 control-label">排序：</label>
                <div class="col-sm-2">
                    <input type="text" name="number" id="number" value="{{ subject.number }}" class="form-control"
                           placeholder="请填写排序数字" required>
                </div>
            </div>
            <div class="form-group">
                <label for="assurance" class="col-sm-2 control-label">承诺：</label>
                <div class="col-sm-7">
                    <input type="text" name="assurance" id="assurance" value="{{ subject.assurance }}" class="form-control"
                           placeholder="请填写薪资承诺" >
                </div>
            </div>
            <div class="form-group">
                <label for="remark" class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-7">
                        <textarea class="form-control" id="remark" name="remark" rows="6"
                                  placeholder="请填写备注">{{ subject.remark }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="visible-md visible-sm visible-lg col-sm-2 control-label"></label>
                <div class="col-sm-2">
                    <input type="submit" class="btn btn-primary btn-block" value="提交">
                </div>
            </div>
        </form>
    </div>
{% endblock %}


